.Card {
  // border: 2px solid red;
  border-radius: 15px;
  width: 1000px;
  cursor: pointer;
  display: flex;
  gap: 20px;
  box-shadow: 0px 10px 40px -3px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: scale(0.9);
    transition: 0.35s;
  }

  .image {
    width: 40%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .info {
    width: 60%;
    padding-right: 30px;
    .title {
    }

    p {
      font-style: italic;
    }
    .description {
      font-style: normal;
    }
    .price {
    }
  }
}
