.Navbar {
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  ul {
    list-style: none;
    display: flex;
    gap: 70px;
    padding: 0;

    li {
    }

    li a {
      text-decoration: none;
      color: white;
    }
  }
}
